@font-face {
    font-family: 'RobotoRegular';
    src: local('Fonts/Roboto-Regular'),
    url(../css/fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'LatoRegular';
    src: local('Fonts/Lato-Regular_0'),
    url(../css/fonts/Lato-Regular_0.ttf) format('truetype');
}
@font-face {
    font-family: 'LatoMedium';
    src: local('Fonts/Lato-Medium_0'),
    url(../css/fonts/Lato-Medium_0.ttf) format('truetype');
}
@font-face {
    font-family: 'LatoLight';
    src: local('Fonts/Lato-Light_0'),
    url(../css/fonts/Lato-Light_0.ttf) format('truetype');
}
@font-face {
    font-family: 'LatoBold';
    src: local('Fonts/Lato-Bold_0'),
    url(../css/fonts/Lato-Bold_0.ttf) format('truetype');
}
@font-face {
    font-family: 'LatoBlack';
    src: local('Fonts/Lato-Black_0'),
    url(../css/fonts/Lato-Black_0.ttf) format('truetype');
}
@font-face {
    font-family: 'AgendaMedium';
    src: local('Fonts/Agenda-Medium'),
    url(../css/fonts/Agenda-Medium.ttf) format('truetype');
}

a,
a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: transparent;
    border: 1px solid #fff;
}

/*
 * Base structure
 */


body {
    height: 100%;
    background-color: #ffffff;
    color: #9c9c9c;
    font-family: LatoRegular;
    font-size: 18px;
    overflow-x: hidden;
}

/*To customize scrollbar for chrome*/
::-webkit-scrollbar { width: 5px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}


div.aux{
    visibility: hidden;
}

.modal-dialog .carousel-control{
    font-size: 80px;
    opacity: 0.7;
    font-family: LatoLight;
}

/*****************************NAVBAR*****************/
.navbar{
    margin-bottom: 0;
    height: 0;
    max-height: 55px;
}

.navbar-toggle .icon-bar {
    width: 18px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}


.menu-header{
    background-color: #ffffff;
    text-align: center;
    height: 195px;
}

.margin-aux{
    margin-top: 20px;
}

.rotate{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    position: relative;
    top: -2px;
}

.rotate-negative{
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
    position: relative;
    top:-12px;
}

.menu-header h1{
    color: #061E4E;
    margin-top: 15px !important;
    font-size: 38px;
    font-family: LatoLight;
}

.menu-header h1 > strong {
    font-family: LatoBold;
    font-weight: 500;
}


.menu-header img{
    margin: auto;
    padding-top: 65px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: -15px;
}

.navbar-default {
    background-color: #051D49;
    border-color: #051D49;
    z-index: 99999;
    box-shadow: 0px 9px 55px rgba(0, 0, 0, 0.5);
    float: left;
    left: 0px;
    right: 0;
    width: 100%;
    border-radius: 0;
    border-width: 0 0 1px;
    overflow: hidden;
    min-height: 0px;
    margin-top: -1px;
}

.navbar-default .navbar-collapse{
    border-color: transparent;
}

.navbar-brand > img {
    margin-top: -1px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    opacity: 0;
    margin-left: 21px;
}

.navbar-right{
    margin-right: 82px;
}

#navbar ul li a{
    padding-right: 0;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #828ea4 !important;
    text-transform: uppercase;
    font-size: 12px;
    max-height: 54px;
    letter-spacing: 2.4px;
}

.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF !important;
    background-color: transparent;
}

.navbar .container{
    width: 100%;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    z-index: 9999;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav > li:nth-child(1){
    width: 69px;
}

.navbar-default .navbar-nav > li:nth-child(2){
    width: 133px;
}

.navbar-default .navbar-nav > li:nth-child(3){
    width: 108px;
}

.navbar-default .navbar-nav > li:nth-child(4){
    width: 92px;
}

.navbar-default .navbar-nav > li:nth-child(5){
    width: 62px;
}

.navbar-default .navbar-nav > li:nth-child(6){
    width: 80px;
}

.navbar-default .navbar-nav > .active > a .orange-line{
    height: 1px;
    width: 67%;
    background-color: rgb(255, 108, 12);
    margin-top: 4px;
    z-index: 9999;
    position: relative;
}

.navbar-nav > li > a {
    padding-top: 18px;
}

.nav > li:nth-child(6) > a:nth-child(1){
    z-index: 1050;
}

.menu{
    top: 16px;
    cursor: default;
    float: right;
    right: 20px;
    position: fixed;
    z-index: 9999;
}

.menu, .menu p{
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
}

.menu img{
    position: relative;
    top: -2px;
    margin-left: 12px;
    z-index: 1040;
}

.affix{
    width: 98.7%;
}

.blue-color{
    background-color: #051D49 !important;
}

.gray-line{
    position: relative;
    height: 1px;
    background-color:  rgba(255, 255, 255, .6);
    float: right;
    top: -12px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
/*****************************NAVBAR*****************/
#personality, #news, #our-team, #contact-us{
    z-index: 55;
}

img.share{
    cursor: pointer;
}

#services .services-header h1, .recent-work-header h1, #what-we-do h1, #our-team .our-team-header h1, #contact-us .contact-us-header h1{
    font-size: 38px;
    font-family: LatoLight;
}

#services .services-header h1 strong, .recent-work-header h1 > strong{
    font-family: LatoRegular;
    font-weight: 500;
}


#main-view{
    text-align: center;
    height: 100%;
    color: #fff;
    z-index: 999;
    top: 0;
    left: 0;
}

.pimary-section{
    height: 100%;
    overflow: hidden;
}


.notice{
    font-size: 13px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.whatwedo-text p.notice{
    text-align: center;
}

.background{
    /*background-color: #000617;
    background-size: cover;
    /*-webkit-background-image: url("../img/home/background/stars0.png");
    -webkit-background-origin: content-box;
    -webkit-background-size: cover;
    background-position: center center;*/
    background: -moz-radial-gradient(circle, #051b4c, #081947, #001a42);
    background: -webkit-radial-gradient(circle, #051b4c, #081947, #001a42);
    background: -o-radial-gradient(circle, #051b4c, #081947, #001a42);
    background: radial-gradient(circle, #051b4c, #081947, #001a42);
}

#main-view .lead{
    padding-bottom: 55px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}

.main-buttons{
    margin-left: 8px;
}



/********************MINE**************/

.title-image{
    /*margin-top: 8%;
    margin-bottom: 8%;*/
    margin-left: 31px;
}

.cover-heading{
    /*margin-bottom: 10%;*/
    font-size: 48px;
    font-family: LatoRegular;
    color: #ffffff;
    margin-left: 17px;
}

.cover-container{
    z-index: 9;
}

.see-our-work, .more-about-us, .container-services-list .btn, #see-more-thumbnail{
    color: #e8e8ea !important;
    border-radius: 4px;
    font-family: LatoRegular;
}

.container-services-list .btn, #see-more-thumbnail{
    width: 198px;
    height: 55px;
    padding: 12px 16px;
}

.more-about-us{
    max-width: 198px;
}

.see-our-work, .more-about-us{
    padding: 15px 31px;
}

.see-our-work{
    margin-right: 55px;
}

.see-our-work:hover{
    background-color: #ff6c0c !important;
    border-color: #ff6c0c !important;
}

.more-about-us, .see-our-work{
    background-color: transparent ;
    border-color: #fffffb ;
}

.more-about-us:hover{
    background-color: transparent !important;
    border-color: #fffffb !important;
}

.menu-container, #main-view ul.nav{
    text-align: right;
    display: inline-block;
    margin-top: 0px;
}

.menu-container h3, .menu-container img{
    display: inline-block;
    font-size: 16px;
}

.menu-container img{
    width: 22px;
    position: relative;
    top: -3px;
}

.menu-container h3{
    margin-right: 10px;
    font-family: LatoRegular;
    font-size: 18px;
}

.menu-container{
    float: right;
    margin-top: 4px;
    cursor: pointer;
}

.opacity{
    opacity: 0;
}

.opacity1{
    opacity: 1;
}

#menu-options{
    float: right;
}

#orange-container{
    height: 0px;
    width: 100%;
    background-color: #ff6c0c;
    position: relative;
    float: left;
    overflow: hidden;
}

.line{
    border-bottom: 1px solid;
    top: 1px;
    position: relative;
    width: 70.9%;
    float: right;
}

video {
    margin: 0;
    padding: 0;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    width: 101%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    min-height: 100%;
    object-fit: cover;
}


/*********PARALLAX stars mouse**************/
.star{
    position: absolute;
    width: 100%;
    height: 110%;
    background-repeat: no-repeat;
    background-size: cover !important;
    opacity: 0;
}
.stars1{
    background: url("../img/background/01.png") -15px -30px;
    z-index:1;
}

.stars2{
    background: url("../img/background/02.png") -20px -40px;
    z-index: 2;
}

.stars3{
    background: url("../img/background/03.png") -10px -20px;
    z-index: 3;
}

.stars4{
    background: url("../img/background/04.png") 5px -10px;
    z-index: 4;
}

.stars5{
    background: url("../img/background/05.png");
    z-index: 0;
}
/*********PARALLAX stars mouse**************/

/*********PARALLAX**************/
/*.parallax-window{
    min-height: 800px;
    background: transparent;
    position: relative;
    z-index: 1;
}


.parallax-mirror:nth-child(1){
    z-index: 50 !important;
}
.parallax-mirror:nth-child(2){
    z-index: 40 !important;
}
.parallax-mirror:nth-child(3){
    z-index: 30 !important;
}
.parallax-mirror:nth-child(4){
    z-index: 20 !important;
}
.parallax-mirror:nth-child(5){
    z-index: 10 !important;
}

.parallax-window2,
.parallax-window3,
.parallax-window4,
.parallax-window5,
.parallax-window6{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10000;
    min-height: 900px;
    background: transparent;
}*/

.parallax{
    min-height: 600px;
    position: absolute;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -mz-transform: translate3d(0, 0, 0);
}

.parallax-window{
    /*background-image: url("../img/background/starsbackground.png");*/
    background: -moz-radial-gradient(circle, #051b4c, #081947, #001a42);
    background: -webkit-radial-gradient(circle, #051b4c, #081947, #001a42);
    background: -o-radial-gradient(circle, #051b4c, #081947, #001a42);
    background: radial-gradient(circle, #051b4c, #081947, #001a42);
    z-index: 995;
}

.parallax-window2{
    background-image: url("../img/background/stars1.png");
    z-index: 999;
}

.parallax-window3{
    background-image: url("../img/background/stars2.png");
    z-index: 998;
}

.parallax-window4{
    background-image: url("../img/background/stars3.png");
    z-index: 997;
}

.parallax-window5{
    background-image: url("../img/background/stars4.png");
    z-index: 996;
}
/*********PARALLAX**************/





/****WHAT WE DO START***/
#what-we-do{
    background-color: #FFFFFF;
    height: 390px;
    margin-top: 55px;
}



#what-we-do h1{
    color: #ff6b04;
    text-align: center;
    padding-top: 44px;
    margin: 0 0 57px 17px;
}

#what-we-do h1 > strong{
    color: #fd6e0e;
    font-family: LatoBold;
    font-weight: 500;
}

.rights{
    opacity: 0;
}

#what-we-do .welcome-image{
    position: absolute;
    margin-top: -19px;
    margin-left: 35px;
    opacity: 0;
}

#what-we-do .whatwedo-filter{
    text-align: center;
    margin-left: -40px;
    width: 698px;
}

.wwd-inner-container{
    width: 633px;
    display: inline-block;
    margin-left: 0;
}

#what-we-do .whatwedo-filter li{
    display: inline-block;
}

.whatwedo-filter li{
    list-style: none;
    border-bottom: 1px solid rgba(135, 142, 164, 0.82);
    height: 29px;
    padding-left: 0px;
    margin-bottom: 15px;
}

.whatwedo-filter li p{
    color: #0E1D54;
    float: left;
    font-family: LatoRegular;
    font-size: 12px;
    margin-top: 4px;
    line-height: 1.88;
    letter-spacing: 2.4px;
    padding-bottom: 1px;
    cursor: pointer !important;
 }

.whatwedo-filter .orange-line{
    background-color: #FF6C0C;
    height: 1px;
    width: 63px;
    margin-top: 28px;
}


.whatwedo-text p{
    padding: 55px 0px 27px;
    text-align: justify;
    line-height: 20.25px;
}

#what-we-do .whatwedo-filter li:nth-child(1), #what-we-do .whatwedo-filter li:nth-child(4){
    width: 152px;
}

#what-we-do .whatwedo-filter li:nth-child(2){
    width: 178px;
}

#what-we-do .whatwedo-filter li:nth-child(3){
    width: 151px;
}

.unactive{
    display: none !important;
}

.my-active{
    visibility: visible;
}

.whatwedo-text p{
    -moz-column-count: 2;
    -moz-column-gap: 28px;
    -webkit-column-count: 2;
    -webkit-column-gap: 28px;
    font-size: 13px;
}

.whatwedo-text .video-category{
    margin-left: 0;
}
/****WHAT WE DO END***/



/****RECET WORK START***/
#recent-work{
    padding: 0;
    height: 600px;
}

/*For displaying the carousel control images in the right position*/
.carousel-control img{
    display: block;
}

.carousel-control > img:nth-child(2){
    margin-bottom: 3px;
}

.carousel-control > img:nth-child(1){
    margin-bottom: 8px;
}

.carousel-control.left > img:nth-child(2){
    margin-left: -3px;
}

.carousel-control.left > img:nth-child(3){
    margin-left: -15px;
}

.carousel-control.right > img:nth-child(2){
    margin-left: -6px;
}

.carousel-control.right > img:nth-child(3){
    margin-left: 6px;
}

#recent-work .carousel-control{
    top: 184px
}

.sharebuttons{
    position: absolute;
    top: 50px;
    font-size: 12px;
    width: 222px;
    background-color: #FFF;
    z-index: 1000;
    height: 232px;
}

.share-first{
    color: #051D49 !important;
    margin: 0;
    letter-spacing: 2px;
    cursor: default;
}

.sharebuttons .orange-line{
    width: 63px;
}


.sharebuttons .share-elements .down-line{
    background-color: #969696;
    width: 63px;
    height: 1px;
}


.sharebuttons ul{
    margin-bottom: 0;
}

.sharebuttons ul li{
    height: 46.4px;;
    padding-top: 13px;
}

.sharebuttons ul li a{
    color: #051D49;
    font-family: LatoRegular;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sharebuttons .share-elements a{
    color: #969696;
}

.title-bordered{
    border: 3px solid #FFF;
    width: -moz-fit-content;
    display: inline-block;
}

.sharebuttons ul{
    list-style: none;
}

.videos-header-xs{
    display: none;
}

#recent-work .carousel-control{
    top: 189px;
    width: auto !important;
}

.recent-work-header{
    text-align: center;
    background-color: #efefef;
    padding: 24px 0 0 0;
    height: 150px;
}

.carousel-control, .carousel-control:hover, .carousel-control:focus{
    opacity: 1;
}

#recent-work .videos-header ul{
    text-align: right;
    padding: 0 0 0 5px;
}

.recent-work-header h1{
    color: #061e4e;
    margin-top: 15px !important;
}

.recent-work-header h1 > strong{
    color: #061c4b;
}

#recent-work .video-slides, #news .news-slides{
    padding: 0px !important;
}

#recent-work .carousel, #recent-work .carousel .item {
    height: 450px;
}
/* Declare heights because of positioning of img element */
#recent-work .carousel .item, #news .carousel .item {
    background-color: #fff;
}

#portfolio-content ul li .mythumbnail, #recent-work .video-main-image{
    position: absolute;
    max-width: unset !important;
}


#news .carousel-inner > .item > img, #personality .carousel-inner > .item > img, #allVideoPhotosCarousel .carousel-inner .item .allVideoPhotosCarouselimg
{
    position: absolute;
    width: auto;
    height: auto;
    left: -9999px;
    right: -9999px;
    /*top: 0;
    bottom: 0;*/
    margin: auto;
    max-width: unset !important;
}

/*#portfolio-content ul li .mythumbnail{
    max-width: unset !important;
    min-height: 247px;
}*/


#recent-work .main-content{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    top: 50px;
    margin-left: 10px;
}

#recent-work .carousel-caption {
    z-index: 10;
    top: 43%;
    right: 20%;
    left: 20%;
}

#recent-work .carousel-caption h1{
    font-size: 50px;
    /*border: 3px solid rgb(255, 255, 255);
    width: -moz-fit-content;
    padding: 0 20px;
    margin: 0 37%;*/
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0px 10px;
}


#recent-work .carousel .item{
    background-color: #FFFFFF;
}

#recent-work .carousel-control.left, #recent-work .carousel-control.right {
    background-image: none;
    height: 0;
}

#recent-work .videos-header, #recent-work .videos-header ul li a{
    color: #111b4c;
}

#recent-work .videos-header .video-title{
    font-size: 14px;
    text-transform: uppercase;
}

#recent-work .videos-header{
    min-height: 50px;
    position: absolute;
    z-index: 9;
    background-color: #fff;
    width: 100%;
}

#recent-work .videos-header.first-one{
    padding: 0;
}

#recent-work .videos-header .column{
    font-size: 12px;
    font-family: LatoRegular;
}

#recent-work .videos-header ul li a{
    margin-bottom: 3px;
    letter-spacing: 1.2px;
}

#recent-work .gallery-up{
    bottom: 88%;
}

#recent-work .videos-header ul li a:hover{
    text-decoration: none;
}

#recent-work .videos-header ul li .orange-line{
    margin-top: 0;
}

#recent-work .videos-header ul li{
    list-style: none;
    display: inline-block;
    margin-left: -3px;
    padding-left: 4px;
}

#recent-work .videos-header ul li:nth-child(1){
    width: 35.8%;
}

#recent-work .videos-header ul li:nth-child(2){
    width: 36.6%;
}

#recent-work .videos-header ul li:nth-child(3){
    width: 27.5%;
}

#recent-work .videos-header .column{
    padding: 17px 0 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#recent-work .videos-header .video-title{
    font-size: 14px;
    letter-spacing: 1.4px;
    padding-left: 14px;
}



#recent-work .videos-header .title .orange-line{
    margin-bottom: 10px;
}

#recent-work .carousel-inner{
    background-color: #ffffff;
}

#recent-work .videos-header p{
    letter-spacing: 1.2px;
}

#recent-work .orange-line, #personality .orange-line, #our-team .orange-line, #news .sharebuttons .orange-line{
    height: 1px;
    width: 63px;
    background-color: #fc6c0c;
}

#recent-work .column.title .orange-line{
    margin-top: -8px;
}

#recent-work .carousel-control.left {
    left: 44px;
}

#recent-work .carousel-control.right {
    right: 14px;
}

#recent-work .share, #news .share{
    position: absolute;
    top: 93px;
    z-index: 8;
    margin: 0;
    left: 38px;
}

.off-text{
    color: rgb(153, 153, 153) !important;
    cursor: default;
}

.off-line{
    background-color: #959595 !important;
}

#see-image-gallery .carousel-control {
    top: 37% !important;
}

.modal-header{
    border-bottom: none;
}

#see-image-gallery, #see-video-modal{
    width: 80%; /* for example */
    margin: auto;
    z-index: 99999;
}

#see-image-gallery .carousel-inner > .item > a > img, #see-video-modal video {
    width: 100%; /* use this, or not */
    margin: auto;
}

#allVideoPhotosCarousel .carousel-inner .item{
    height: 300px;
    overflow: hidden;
}

.modal-backdrop.in {
    opacity: 0.8;
}

#see-image-gallery .modal-content, #see-video-modal .modal-content{
    background-color: transparent !important;
    box-shadow: none;
    border: none;
    top:60px;
}

#see-image-gallery .carousel-control.left, #see-image-gallery .carousel-control.right {
    background-image: none !important;
}

#allVideoPhotosCarousel img{
    width: 100%;
}
/****RECET WORK END***/


/****SERVICES START**/
#services{
    height: 550px;
}

#services .services-header, #services, .container-services-list{
    background-color: #051d49;
}

#services .services-header h1{
    margin-top: 15px;
}

#services .services-header{
    text-align: center;
    padding: 17px 0 0 0;
    margin-top: -1px;
    z-index: 9;
    height: 150px;
    margin-bottom: 75px;
}

#services .services-header h1, #services .services-list li, .container-services-list .btn, #portfolio .btn, #contact-us .btn{
    color: #FFFFFF;
}

#services .services-list{
    width: 1110px;
    margin: auto;
    padding: 0;
}

#services .services-list li{
    list-style: none;
    display: inline-table;
    width: 140px;
    vertical-align: top;
    margin-bottom: 20px;
    padding-left: 9px;
}


#services .service-image img{
    position: relative;
}

.services-list > li:nth-child(1) > .service-image > img{
    top: 7px;
}

.services-list > li:nth-child(2) > .service-image > img{
    top: 10px;
}

.services-list > li:nth-child(3) > .service-image > img{
    left: -2px;
    top: 1px;
}

.services-list > li:nth-child(4) > .service-image > img{
    left: -1px;
    top: 2px;
}

.services-list > li:nth-child(5) > .service-image > img{
    left: 0;
    top: 2px;
}

.services-list > li:nth-child(6) > .service-image > img{
    left: 0;
    top: 4px;
}

.services-list > li:nth-child(7) > .service-image > img{
    left: -1px;
    top: 14px;
}

.services-list > li:nth-child(8) > .service-image > img{
    left: 0px;
    top: 10px;
}

#services .services-list li .double{
    width: 100%;
    text-align: center;
    padding: 0 5px;
    margin-top: 11px;
    line-height: 1.25;
}

#services .service-image{
    height: 70px;
    margin-bottom: 10px;
    margin-top: 15px;
}

#services .services-list > li > div:nth-child(2){
    font-size: 12px;
    letter-spacing: 2.4px;
    line-height: 14.4px;
}

.container-services-list{
    padding: 20px 0;
    text-align: center;
    height: 400px;
}

.container-services-list .btn, #portfolio .btn, #contact-us .btn{
    background-color: #FF6C0C !important;
    border-color: #FF6C0C !important;
    margin-bottom: 3%;
    cursor: pointer;
}

.container-services-list .btn{
    margin-left: 0;
    margin-top: 50px;
}
/****SERVICES END***/


/****PORTFOLIO START***/
#portfolio, #portfolio .portfolio-sub-header .left-block, #portfolio .portfolio-sub-header .dropdown-image{
    padding: 1px 0 0 0;
}

#portfolio .recent-work-header {
    padding: 21px 0 0 0;
}

#portfolio .recent-work-header h1 > strong{
    font-family: LatoBold;
    font-weight: 500;
}

/*#portfolio-content ul li .mythumbnail{
    height: 225px;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}*/

#portfolio .recent-work-header h1 {
    margin-top: 17px !important;
}




/******************Portfolio fade animation***********************/
.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}


.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    opacity: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

#portfolio .portfolio-sub-header .left-block{
    width: 28.24%;
}

#portfolio .portfolio-sub-header .middle-block{
    width: 71.7%;
    padding: 0;
}

#portfolio .portfolio-sub-header .dropdown-image{
    display: none;
}

#portfolio .portfolio-sub-header{
    height: 55px;
}

#portfolio .sharebuttons {
    top: 0;
    left: 0;
    position: absolute;
    height: 221px;
}

#portfolio .sharebuttons ul{
    padding-left: 23px;
}

#portfolio .sharebuttons ul li{
    height: 45px;
}

#portfolio .sharebuttons ul li{
    display: block;
}

#portfolio .sharebuttons ul li{
    padding: 0 0 5px 6px !important;
}

#portfolio .btn{
    margin-top: 27px;
}

#portfolio .thumbnail-all .orange-line, #portfolio .thumbnail-all p{
    margin-left: 38px;
}

#portfolio .btn.gray {
    background-color: rgb(153, 153, 153) !important;
    border-color: rgb(153, 153, 153) !important;
    cursor: auto;
}

#portfolio .whatwedo-filter li{
    border-bottom: none;
}

#portfolio .portfolio-sub-header{
    padding: 15px 0 0 0;
    color: #0f1c3f;
    height: 50px;
}

#portfolio .portfolio-sub-header ul{
    padding: 0;
}

#portfolio .whatwedo-filter li:nth-child(1){
    width: 15.6%;
}

#portfolio .whatwedo-filter li:nth-child(2){
    width: 18.5%;
}

#portfolio .whatwedo-filter li:nth-child(3){
    width: 15.7%;
}

#portfolio .whatwedo-filter li:nth-child(4){
    width: 48%;
}



#portfolio .orange-line {
    margin-top: 6px;
}

#portfolio .portfolio-sub-header .orange-line {
    margin-top: -13px;
}

#portfolio .active-filter .orange-line {
    background-color: #FC6C0C !important;
}

#portfolio .whatwedo-filter li.active-filter > p, #portfolio .active-filter > p{
    color: #0f1c3f; !important;
}

#portfolio .thumbnail-hover .orange-line {
    height: 1px;
    width: 63px;
    background-color: #FC6C0C !important;
    margin-top: 0;
}

.button-container{
    text-align: center;
    height: 113px;
}

#portfolio .button-container{
    height: 113px;
}

#portfolio .whatwedo-filter li p, .thumbnail-all p {
    color: #959595;
    font-size: 12px !important;
}

#portfolio .whatwedo-filter li .orange-line, .thumbnail-all .orange-line {
    height: 1px;
    width: 63px;
    background-color: #C6CAC9;
    margin-top: 23px;
    position: relative;
}

#portfolio .thumb-title{
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-top: -1px;
}

#portfolio .thumb-title p, #portfolio .thumb-title-name p{
    text-transform: uppercase;
}

#portfolio .under-header p{
    margin: 0;
    padding-left: 15px;
}

#portfolio .thumb-title-name, #portfolio .thumbnail-hover ul li a{
    letter-spacing: 1.2px;
}

#portfolio .whatwedo-filter li p {
    border-bottom: none;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 14.4px;
}

.thumbnail-all p{
    padding-bottom: 6px;
    width: 55px;
    cursor: pointer;
    letter-spacing: 2.4px;
}

#portfolio-content ul.col-sm-12, #portfolio .portfolio-sub-header, #portfolio .button-container, #portfolio-content, #portfolio{
    background-color: #ffffff;
}

#portfolio-content ul li{
    display: inline-block;
    list-style: none;
    padding: 0;
}

#portfolio-content ul li.thumbnail-inner{
    height: 225px;
    position: relative;
    float: left;
    width: 33%;
}

#portfolio-content ul li .item{
    height: 225px;
    overflow: hidden;
}

#portfolio-content ul li .share{
    padding: 25px 0px;
    margin-left: 27px;
}

#portfolio .thumbnail-hover{
    position: absolute;
    top: 0;
    background-color: rgba(5, 29, 73, 0.94);
    height: 225px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 0;
}

#portfolio .thumbnail-hover ul{
    margin: -5px 0 30px -10px;
    width: 250px;
    display: inline-block;
}

#portfolio .thumbnail-hover .control{
    padding: 0;
    text-align: center;
}

#portfolio .thumbnail-hover ul li{
    margin-left: -3px;
    text-align: left;
}

#portfolio .thumbnail-hover ul li:nth-child(1){
    width: 102px;
}

#portfolio .thumbnail-hover ul li:nth-child(2){
    width: 60px;
}

#portfolio .thumbnail-hover ul li:nth-child(3){
    width: 88px;
    padding-left: 24px;
}

#portfolio .thumbnail-hover ul li .under-line{
    border-bottom: 1px solid rgb(153, 153, 153);
    width: 63px;
    height: 1px;
}

#portfolio .thumbnail-hover ul li a img{
    position: relative;
    top: -6px;
    left: 2px;
}

#portfolio .orange-line.final{
    margin-top: -5px;
    height: 5px;
    width: 100%;
    position: relative;
    border-bottom: 4px solid #ff6c0c;
}

#portfolio-content ul li .carousel-inner{
    height: 225px;
}

#portfolio-content ul{
    padding: 0;
}

/****PORTFOLIO END***/


/****NEWS START ***/
#news .news-container{
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #051D49;
    padding: 30px 0;
    height: 200px;
}

#news .share{
    top: 43px;
    left: 53px;
}

#news .carousel, #news .carousel .item {
    height: 600px;
}

#news .carousel-control {
    height: 0;
    top: 210px;
}

#news .carousel-control.left, #news .carousel-control.right {
    background-image: none;
}

#news .carousel-control.right {
    right: -154px;
}

#news .carousel-control.left{
    text-align: left;
    left: 44px;
}


#news .sharebuttons {
    top: 0;
    left: 0;
}

#news .carousel-control.right{
    text-align: right;
}

#news .youtube-image{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 185px;
}

#news .news-title{
    display: inline-block;
}

#news .news-container h1{
    font-size: 38px;
    margin-top: -8px;
    font-family: LatoLight;
}

.news-container .orange-line{
    height: 1px;
    width: 40px;
    background-color: #fc6c0c;
    margin-top: -7px;
    margin-bottom: 15px;
    margin-left: 4px;
}

#news .vertical-line{
    position: relative;
    top: 4px;
    height: 14px;
    width: 2px;
    background-color: #969897;
    margin: 0px 3px;
}

#news .join-elements, #news .vertical-line{
    display: inline-block;
}

#news .news-title{
    padding: 0px 50px 0 0 !important;
    font-size: 19px;
}

#news .youtube-link-content{
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

#news a.news-author-tag, #news .no-padding > a, #news .youtube-link{
    color: #FE741B;
}

#news .carousel-indicators li .active, #news .carousel-indicators li{
    width: 8px;
    height: 8px;
    margin: 0 !important;
}

#news .carousel-indicators .active{
    background-color: #FE741B;
    border-color: #FE741B;
}

#news .carousel-indicators li{
    background-color: #FFFFFF;
}

#news .carousel-indicators{
    position: absolute;
    left: 0;
    margin: 0;
    text-align: left;
    padding-left: 15px;
    width: 20%;
}

#news .news-paragraph{
    -moz-column-count: 2;
    -moz-column-gap: 28px;
    -webkit-column-count: 2;
    -webkit-column-gap: 28px;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 20.25px;
}

#news .floating-counter{
    font-size: 35px;
    margin-bottom: -4px;
    margin-top: -73px;
}

#news .days{
    font-size: 10px;
}

#news .counter-content{
    position: absolute;
    top: -20px;
    left: 44%;
}

#news .carousel-inner > .item > img {
    min-height: 400px;
}

.no-padding{
    padding: 0;
}

#news .days-ago{
    display: inline-block;
}

#news .carousel-indicators {
    bottom: 11px;
}
/****NEWS END***/


/****PERSONALITY START**********/
#personality{
    background-color: #051D49;
}

.personality-slides, #personality .carousel .item, #personalityCarousel{
    height: 400px;
}

#personality .carousel-inner .item{
    overflow: hidden;
}

#personality .carousel-inner > .item > img {
    max-width: unset !important;
    transition-delay: 2s;
}

#personality .carousel-control {
    background-image: none;
    top: 195px;
    width: 0;
}

#personality .personality-content{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    margin-left: 161px;
    padding-top: 61px;
}
#personality .personality-content h1{
    -webkit-animation:personality-content-in linear 1s;
    -o-animation:personality-content-in 1s;
    animation:personality-content-in linear 1s;
}
#personality .personality-content p{
    -webkit-animation:personality-content-in linear 1s;
    -o-animation:personality-content-in 1s;
    animation:personality-content-in linear 1s;
}
#personality .personality-content .orange-line{
    -webkit-animation:personality-content-in linear 1.1s;
    -o-animation:personality-content-in 1.1s;
    animation:personality-content-in linear 1.1s;
}
#personality .personality-content .comment-paragraph{
    -webkit-animation:personality-content-in linear 1.2s;
    -o-animation:personality-content-in 1.2s;
    animation:personality-content-in linear 1.2s;
}
#personality .personality-content .work{
    -webkit-animation:personality-content-in linear 1.3s;
    -o-animation:personality-content-in 1.3s;
    animation:personality-content-in linear 1.3s;
}
#personality .personality-content .work-interpreters{
    -webkit-animation:personality-content-in linear 1.4s;
    -o-animation:personality-content-in 1.4s;
    animation:personality-content-in linear 1.4s;
}
@keyframes personality-content-in{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

#personality .work-interpreters, #personality .work{
    position: absolute;
    margin-left: -3px;
}

#personality .work{
    font-size: 12px;
    top: 351px;
    margin-bottom: 4px;
    letter-spacing: 1.2px;
}

#personality .work-interpreters{
    font-size: 10px;
    letter-spacing: 1px;
    top: 368px;
}

#personality p.profession{
    margin-bottom: 4px;
}

#personality .carousel-control.left{
    text-align: left;
    left: 45px;
}

#personality .carousel-control.right{
    text-align: right;
    right: 51px;
}

#personality .carousel-control.right img{
    margin-right: 22px;
}

#personality a > h1.personality-name{
    margin-bottom: 3px;
}

#personality .personality-content .comment-paragraph{
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
    margin-left: -3px;
    width: 300px;
}

#personality a > h1.personality-name,#personality p.profession{
    text-transform: uppercase;
}

#personality a > h1.personality-name{
    letter-spacing: -0.6px;
}

#personality a > h1.personality-name strong{
    font-weight: 500;
}

h1.personality-name{
    font-size: 24px;
    font-family: LatoLight;
    letter-spacing: -0.6px;
}

#personality a > h1.personality-name > strong{
    font-family: LatoBold;
}

p.profession{
    font-size: 10px;
    font-family: LatoBold;
}

#personality .orange-line, #our-team .orange-line{
    width: 65px;
    margin-bottom: 41px;
}

/****PERSONALITY END**********/


/****OUR TEAM START ****/
#our-team{
    color: #ffffff;
}

#our-team .member-slides, #our-team .member-slides .carousel-inner{
    height: 400px;
}

#our-team .carousel-inner .item img{
    width: 153px;
    height: 153px;
    border: 3px solid #FE741B;
    margin-left: 90px;
    margin-top: -3px;
}

#our-team .carousel-inner .item .member{
    margin-top: 15px;
    margin-bottom: 22px;
    width: 49%;
}

#our-team .member-slides{
    background-color: #051d49;
    padding-bottom: 20px;
    z-index: 999;
}

#our-team .carousel-control.left, #our-team .carousel-control.right{
    background-image: none !important;
}

#our-team .carousel-control.left{
    text-align: left;
    padding-left: 67px;
}

#our-team p.profession{
    margin-bottom: 4px;
}

#our-team .carousel-control.right{
    padding-right: 0;
}

.align-right{
    text-align: center;
    padding-right: 0;
}

#our-team .otherprof{
    font-size: 13px;
    margin-bottom: 0;
    line-height: 18px;
    margin-left: -2px;
}

#our-team .member .perpendicular{
    margin-top: 26px;
    position: relative;
    left: 49px;
}

#our-team h1.personality-name{
    margin-bottom: 2px;
}

#our-team .orange-line {
    margin-bottom: 29px;
}

#our-team{
    background-color: #051d49;
}
#our-team .our-team-header {
    text-align: center;
    background-color: #051d49;
    padding: 20px 0px;
    color: #FFFFFF;
}

#our-team h1 > strong{
    font-family: LatoBold;
}

#our-team .carousel-control {
    top: 183px;
}

#our-team .carousel-control.right {
    right: -48px;
}

#our-team{
    background-color: #051d49;
    z-index: 55;
}

#our-team .our-team-header {
    text-align: center;
    background-color: #051D49;
    padding: 18px 0 0 0;
    color: #FFF;
    height: 150px;
}

#our-team .our-team-header img{
    margin-left: 48px;
}

#our-team .our-team-header h1{
    margin-top: 15px;
    margin-left: 46px;
}

#our-team .our-team-header h1 > strong, #contact-us h1 > strong{
    font-family: LatoBold;
    font-weight: 500;
}

#our-team .perpendicular h1 strong{
    font-family: LatoBlack;
    font-size: 24px;
    letter-spacing: -0.6px;
    line-height: 28.8px;
    font-weight: 500;
}
/****OUR TEAM END****/


/****CONTACT US START***/

#contact-us{
    height: 595px;
    background-color: #F0F0F0;
}

#contact-us .subject-options {
    left: 26px !important;
}

#contact-us .contact-us-container {
    margin-top: -1px;
    height: 400px;
    padding-top: 36px;
    text-align: center;
}

#contact-us .contact-us-container form{
    width: 612px;
    display: inline-block;
}

#contact-us .contact-us-container .first{
    padding-left: 0;
    padding-right: 25px;
}

#contact-us .contact-us-container .second{
    padding-right: 0;
    padding-left: 25px;
}

#contact-us .contact-us-header {
    text-align: center;
    background-color: #efefef;
    padding: 18px 0px;
    color: #FFFFFF;
    height: 200px;
}

#contact-us .contact-us-header img{
    margin-left: 1px;
}

#contact-us h1{
    margin-top: 16px;
    margin-left: 2px;
    color: #051d49;
}

#contact-us .subject-options{
    position: absolute;
    top: 29px;
    left: 26px;
    background-color: #F0F0F0;
    box-shadow: 2px 2px 4px rgba(153,153,153,0.5);
}

#contact-us #email-subject{
    cursor: pointer;
}

#contact-us .subject-options ul{
    margin-left: -30px;
}

#contact-us .subject-options ul li{
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: LatoLight;
    font-size: 12px;
    text-align: left;
    padding-top: 10px;
}

#contact-us input, #contact-us select{
    width: 100%;
    margin: 0 0 24px 0;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    background-color: rgb(239, 239, 239);
    color: #7d7d7d;
    font-family: LatoLight;
    font-size: 12px;
    padding-bottom: 4px;
}

#email-subject{
    text-transform: uppercase;
}

#contact-us .btn{
    margin-top: 65px;
    width: 198px;
    height: 55px;
}

#contact-us select{
    padding-top: 8px;
}

#contact-us input:focus, #contact-us select:focus{
    border-bottom: 1px solid #FE741B;
    -webkit-border-image: none;
    outline: none;
}

#contact-us select{
    text-transform: uppercase;
}


#email-subject::-ms-expand{
    display: none;
}

@media screen and (min-width: 0\0){
    #email-subject{
        background-image: none\9;
        padding: 5px\9;
    }
}
/****CONTACT US END***/

/****FOLLOW US START*******/
#follow-us .orange-line{
    width: 38px;
    height: 1px;
    background-color: #D16B2B;
    display: inline-block;
    top: -19px;
    position: relative;
}

#follow-us .follow-content{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10000;
}

#follow-us .final-title{
    font-size: 14px;
    letter-spacing: 2.786px;
    padding-top: 58px;
    margin-top: -12px;
}

#follow-us{
    text-align: center;
    color: #fff;
    height: 600px;
    overflow: hidden;
}

#follow-us .title-image {
    width: 290px;
    margin-top: 82px;
}

.close{
    color: #fff;
    position: relative;
    left: 6px;
    opacity: 0.7;
}

#follow-us ul{
    margin-top: 95px;
}

#follow-us ul li{
    display: inline-block;
    list-style: none;
    margin-right: 3%;
}

#follow-us p{
    margin-top: 22px;
    font-size: 10px;
}

#follow-us .up{
    cursor: pointer;
    margin-top: 82px;
}
/****FOLLOW US END*******/

/* Animation delays */

.anim {
    animation-delay: 2s;
}

/********************MINE END**************/


/*****************For Main view Animation****************/
.title-image, .cover-heading, .menu, .main-buttons, .navbar-default .navbar-toggle, .services-list li, .member{
    opacity: 0;
}

/*****************End For Main view Animation****************/
